.cat-label {
  font-size: 0.8em;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 18px;
}

.recorte {
  /*margin-top: -5px;*/
  /*margin-bottom: 10px;*/
}

.sem-padding {
  padding-left: 0;
  padding-right: 0;
}

.dimple-tooltip {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size:100% !important;
}

.dimple-legend {
  font-family: Arial;
}

.dimple-title {
  font-family: Arial;
}

.ajuste-text-botao {
  padding-top: 5px;
  font-size: 1.2em;
}

.dropdown-menu {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 490px;
}

#grafico {
  display: block;
}

.grafico {
  z-index: 100;
}

.camada {
  opacity:0.2;
  -moz-opacity: 0.2;
  filter: alpha(opacity=0.2);
}

.camada:hover, .camada.touched {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=1);
  -webkit-transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -ms-transition: opacity .55s ease-in-out;
  -o-transition: opacity .55s ease-in-out;
  transition: opacity .55s ease-in-out;
}

.arrow{ 
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 16px;
}

.arrow.maior {
  transform: rotate(0deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(0deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  -webkit-transform-origin: 50% 50%;
}

.arrow.menor {
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  -ms-transform: rotate(180deg);
  -ms-transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 50%;
}

body  {
  background-color: #E6E8EE;
  margin-top: 77px;
  padding-top: 0;
}

.explicativo p  {
  padding-left: 60px;
  padding-right: 165px;
}

.funcionamento {
  margin-top: -20px;
  margin-bottom: 20px;
}

#leia_tambem h5, #leia_tambem p {
  padding-left: 75px;
  padding-right: 180px;

}

div.div-botao-pergunta .input-group {
  padding-left: 60px;
}

.recorte {
  padding-right: 165px;
}

.titulo-header h2 {
  margin-top: 0;
}

#edados_menu {
  top: 0;
  color: #fff;
}

div.navbar.navbar-fixed-top {
  top: 47px;
}

#menu_candidatos.navbar,
aside .navbar {
  margin: 0;
  padding: 0;
  min-height: 23px;
}

aside .navbar-fixed-top {
  z-index: 1000;
}

#menu_candidatos p,
aside p {
  margin-bottom: 0;
}

#menu_candidatos a {
  padding: 5px;
  /*font-weight: bold;*/
}

aside#dados_candidatos div.navbar.navbar-fixed-top {
  top:76px;
}

#menu_candidatos, #dados_candidatos {
  font-family: sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

#main_content {
  padding-top: 5px;
}

@media (max-width: 991px) {
  .ajuste-valores {
    height: 30px;
  }
  .ajuste-graficos {
    height: 60px;
  }
}

@media (min-width: 991px) {
  .ajuste-valores {
    height: 0px;
  }
  .ajuste-graficos {
    height: 30px;
  }
}
